@import "~bootstrap/scss/bootstrap";

//Assets

.btn-outline-primary {
    color: #ff5a5f;
    border-color: #ff5a5f;

    &:hover {
        background-color: #ff5a5f;
        border-color: #ff5a5f;
        color: white;
    }

    &:active {
        background-color: #ff5a5f !important;
        border-color: #ff5a5f !important;
    }

    &:focus-visible {
        background-color: #ff5a5f !important;
        border-color: #ff5a5f !important;
    }
}

.btn-primary {
    background-color: #ff5a5f;
    border-color: #ff5a5f;

    &:hover {
        background-color: #c34a4e;
        border-color: #c34a4e;
    }
}

//--------------------------------------------
//suggest in create and edit
._address-wrapper {
    position: relative;

    #edit-suggest,
    #create-suggest {
        position: absolute;
        top: 70px;
        left: 0px;
        width: 400px;
        background: rgb(255 255 255);
        //border: 1px solid lightgray;
        list-style: none;
        overflow: hidden;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.219);
    }

    ._first-li {
        cursor: auto;

        &:hover {
            background: white;
            color: black;
        }
    }

    li {
        cursor: pointer;
        padding: 0.5em;

        ._location-icon {
            margin-right: 0.5em;
            font-size: 0.8em;
            color: rgb(180, 180, 180);
        }

        &:hover {
            background: rgb(255, 90, 95);
            color: white;

            ._location-icon {
                color: rgb(255, 255, 255);
            }
        }
    }

    @media (max-width: 400px) {

        #edit-suggest,
        #create-suggest {
            width: 300px;
        }
    }
}

// fine suggest in create and edit
.btn-outline-primary:hover {
    color: white !important;
}

ul {
    padding: 0;
}

.check {
    width: 8px;
    height: 8px;
    border: 1px solid rgb(96, 96, 96);
    border-radius: 50%;
}

//Partials
//--------------------------------------------
#navbar {
    #logo {
        width: 150px;

        img {
            width: 100%;
        }
    }

    .dropdown-item {
        &:active {
            background-color: #ff5a5f !important;
        }
    }
}

// Admin
//--------------------------------------------

#apartment_show {
    display: flex;

    #admin-sidebar {
        display: flex;
        flex-flow: column;
        justify-content: center;
        gap: 2em;

        height: calc(100vh - 120px);
        width: 240px;
        padding: 16px;

        .card {
            border: 1px solid red;

            box-shadow: 0px 6px 20px rgba($color: #000000, $alpha: 0.2);
        }

        a {
            i {
                color: #ff5a5f;
            }

            &:hover {
                background-color: #ff5a5f;
                color: white;

                i {
                    color: white;
                }
            }
        }
    }

    #admin-sidebar-mobile {
        position: fixed;
        left: 0;
        top: 180px;

        display: none;
    }

    ._card {
        position: sticky;
        top: 180px;

        width: 40px;

        color: white;
        text-align: center;

        background-color: rgba($color: #000000, $alpha: 0.7);

        border-radius: 0 20px 20px 0;

        box-shadow: 0px 6px 20px rgba($color: #000000, $alpha: 0.2);

        a {
            i {}

            &:hover {
                background-color: #ff5a5f;
                color: white;

                i {
                    color: white;
                }
            }
        }
    }

    ._btn {
        background: none;
        border: none;

        color: white;
    }

    .sidebar-btn-container {
        position: fixed;
        left: 0;
        top: 50vh;
    }

    .arrow-btn {
        display: none !important;

        align-items: center;
        justify-content: center;

        position: sticky;
        top: 50vh;

        width: 20px;
        height: 80px;

        font-size: 1.2em;
        color: white;

        border-radius: 0 20px 20px 0;

        background-color: rgba($color: #000000, $alpha: 0.7);

        cursor: pointer;
    }

    main {
        flex-grow: 1;
    }

    ._container {
        display: flex;
        flex-direction: row;

        width: 100%;
    }

    .left-inner {
        padding-right: 60px;
        width: 60%;
    }

    .name-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding-top: 20px;
        padding-bottom: 10px;
    }

    .name {
        margin: 0;

        font-size: 1.8em;
    }

    .icon {
        font-size: 1.2em;
        color: #ff5e63;
    }

    .img_container {
        margin-bottom: 10px;

        width: 700px;
        height: 340px;

        border-radius: 10px;

        overflow: hidden;

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    .listing_title {
        padding: 8px 0;

        // font-weight: bold;
        font-size: 1.6em;
    }

    .info-container-left {
        padding-bottom: 8px;
    }

    .listing_title-left {
        padding-bottom: 14px;

        font-size: 1.1em;
    }

    .listing_title-left.st {
        padding-bottom: 6px;
    }

    .sponsored {
        display: flex;
        align-items: center;
        gap: 8px;

        white-space: nowrap;
    }

    .sponsored-mobile {
        display: none;
    }

    .amenities-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;

        margin-bottom: 0px;

        line-height: 0.85em;
    }

    .am {
        width: 140px;

        white-space: nowrap;
    }

    .am-icon {
        font-size: 1.3em;
    }

    .right-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 10px;

        width: 40%;
        height: calc(100vh - 70px);

        border-left: 1px solid #f0f0f0;
    }

    .listing-container {
        padding: 0 10px;
    }

    .basics {
        padding-bottom: 10px;
    }

    .listing_title-right {
        display: flex;
        align-items: center;
        gap: 10px;

        // font-size: 1.3em;
    }

    .results-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding-bottom: 8px;
    }

    .description {
        padding-bottom: 20px;
    }

    .address {
        padding-top: 20px;
    }

    .prop {
        border-top: 1px solid #c7c9c9;
    }

    .properties {
        width: 200px;
    }

    li {
        list-style-type: none;
    }

    @media (max-width: 1440px) {
        ._container {
            flex-direction: column;
        }

        .left-inner {
            padding-right: 60px;
            width: 100%;
        }

        .right-inner {
            padding-left: 10px;

            width: 100%;
            height: unset;

            border-left: none;
        }
    }

    @media (max-width: 920px) {
        .img_container {
            width: 100%;
        }

        .left-inner {
            padding-right: 10px;
        }
    }

    @media (max-width: 700px) {
        #admin-sidebar {
            display: none;
        }

        .arrow-btn {
            display: flex !important;
        }

        .sidebar-btn-container {
            position: fixed;
            left: 0;
            top: 50vh;
        }

        .name-container {
            justify-content: center;
        }

        .sponsored {
            display: none;
        }

        .sponsored-mobile {
            display: block;
            text-align: center;

            margin-bottom: 8px;
        }

        .listing_title-left {
            padding-top: 20px;
            padding-bottom: 20px;

            text-align: center;
        }

        .is-visible {
            padding-bottom: 30px;
            border-bottom: 1px solid #c7c9c9;

            text-align: center;
        }

        .amenities-container {
            flex-direction: column;

            padding-bottom: 40px;
            padding-left: 30px;

            border-bottom: 1px solid #c7c9c9;

        }

        .right-inner {
            padding-left: 0;
        }

        .listing_title {
            text-align: center;
        }

        .listing_title-right {
            justify-content: center;

            padding-bottom: 10px;
        }

        .results {
            padding-right: 0;
            padding-bottom: 12px;

            text-align: center;
        }

        .properties {
            margin: 0 auto;

            width: 250px;
        }
    }
}

//Sponsorship
//-----------------------
._sponsorship-wrapper {
    position: relative;
    margin-top: 4em;
}

.sponsor-apt-now {
    padding: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.sponsorship-package {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.sponsorship-package.package1 {
    border: 2px solid cornflowerblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    background: #495c70;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db9c, #557ea7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a658df5, #2c3e509f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sponsorship-package.package2 {
    border: 2px solid gold;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    background: #ba8b02;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #181818, #ba8b02);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #181818bb, #ba8b02);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sponsorship-package.package3 {
    border: 2px solid #e5e4e2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    background: #8e9eab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7e8181, #8e9eab8e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    // Blue
}

.sponsorship-package label {
    color: #333;
}

// .sponsorship-container {
//     background: #fc00ff;
//     /* fallback for old browsers */
//     background: -webkit-linear-gradient(to right, #00dade59, #fb00ff71);
//     /* Chrome 10-25, Safari 5.1-6 */
//     background: linear-gradient(to right, #00dade59, #fb00ff54);
//     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }

.sponsorship-container #submit-button {
    background-color: rgb(121, 199, 121);
    color: white;
}

.sponsorship-container #submit-button:hover {
    background-color: #10ae20;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.sponsorship-container {
    ._btn-goback {
        transform: rotate(180deg);
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // height: 54px;
        // width: 54px;

    }

    .card {
        width: 200px;
        /* Adjust the width as needed */
        height: 200px;
        /* Adjust the height as needed */
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .card-basic {
        border: 2px solid cornflowerblue;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        background: #495c70;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #3498db9c, #557ea7);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2a658df5, #2c3e509f);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .card-gold {
        // border: 3px solid #ffd000;

        border: 2px solid gold;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        background: #ba8b02;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #181818, #ba8b02);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #181818bb, #ba8b02);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .card-platinum {
        border: 2px solid #e5e4e2;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        background: #8e9eab;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #7e8181, #8e9eab8e);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-title {
        font-size: 24px;
        /* Adjust the font size as needed */
        color: gold;
        margin-bottom: 10px;
        /* Adjust the margin as needed */
    }

    .card-text {
        font-size: 16px;
        /* Adjust the font size as needed */
        margin-bottom: 10px;
        /* Adjust the margin as needed */
    }

    .text-basic {
        font-weight: bold;
        color: cornflowerblue;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .text-gold {
        font-weight: bold;
        color: gold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .text-plat {
        font-weight: bold;
        // color: #E5E4E2;
        color: #e9e6e6;
        /* Platinum color */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
}

// MESSAGGI

#messages_index {
    .card-header {
        background-color: #ff5a5f;
        color: white;
        font-weight: 500;
    }

    thead {
        th {
            background-color: #ff5a5f;
            color: white;
            font-weight: 500;

            &:first-of-type {
                border-top-left-radius: 10px;
            }

            &:last-of-type {
                border-top-right-radius: 10px;
            }
        }

        ._border-radius {
            @media (max-width: 575.98px) {
                border-top-right-radius: 10px;
            }
        }
    }

    tbody {
        cursor: pointer;
    }
}

// INDEX APPARTAMENTI

#apartment_index {

    .fa-solid,
    .fa-regular {
        color: #ff5a5f;
    }

    thead {
        th {
            background-color: #ff5a5f;
            color: white;

            &:first-of-type {
                border-top-left-radius: 10px;
            }

            &:last-of-type {
                border-top-right-radius: 10px;
            }
        }
    }
}

// CREATE APPARTAMENTI

#apartment_create {
    ._services {
        ._icon {
            height: 20px;
            width: 20px;
        }

        .form-check {
            padding-left: 0;
        }
    }
}

@media (max-width: 575.98px) {
    #apartment_create {
        .form-check {
            padding-left: 0;
            width: calc((100% / 2) - 2em);

            label {
                scale: 1.6;
            }

            ._icon {
                height: 20px;
                width: 20px;
            }
        }
    }
}

// edit APPARTAMENTI

#apartment_edit {
    #edit-form {
        ._services {
            ._icon {
                height: 20px;
                width: 20px;
            }

            .form-check {
                padding-left: 0;
            }
        }
    }
}

@media (max-width: 575.98px) {
    #apartment_edit {
        #edit-form {
            .form-check {
                padding-left: 0;
                width: calc((100% / 2) - 2em);

                label {
                    scale: 1.6;
                }

                ._icon {
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}

// EDIT APPARTAMENTI

#dashboard {
    display: flex;
    flex-direction: column;
    padding: 2em;

    ._dashboard-wrapper {
        display: flex;
        gap: 1em;
        max-width: 1200px;
        margin: auto;

        ._main {
            width: calc(70% - 1em);
            padding: 0.5em;
            border-radius: 20px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        }

        ._user {
            width: calc(30% - 1em);
            padding: 0.5em;
            border-radius: 20px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.5em;

            .img-wrapper {
                width: 100px;
                height: 100px;
                overflow: hidden;
                border-radius: 50%;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    ._apartments {
        margin: auto;
        max-width: 1200px;
        width: 100%;
        margin-top: 2em;
        padding: 2em;
        border-radius: 20px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

        .card-wrapper {
            display: flex;
            gap: 1em;

            ._add-apartment-button {
                width: calc((100% / 4) - 1em);
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .card {
                width: calc((100% / 4) - 1em);
                border-radius: 10px;
                text-decoration: none;
                transition: all 0.5s;

                &:hover {
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

                    .info-card {
                        h6 {
                            color: #4b1313;
                        }
                    }
                }

                .img-wrapper {
                    width: 100%;
                    height: 150px;
                    overflow: hidden;
                    border-radius: 10px 10px 0 0;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .info-card {
                    padding: 0.4em;

                    * {
                        transition: all 0.4s;
                    }
                }
            }
        }
    }

    @media (max-width: 700px) {
        ._dashboard-wrapper {
            flex-direction: column;

            ._main {
                width: 100%;
            }

            ._user {
                width: 100%;
            }
        }

        ._apartments {
            margin: auto;
            max-width: 1200px;
            width: 100%;
            margin-top: 2em;
            padding: 2em;
            border-radius: 20px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

            .card-wrapper {
                display: flex;
                gap: 1em;

                ._add-apartment-button {
                    width: calc((100% / 4) - 1em);
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .card {
                    .img-wrapper {
                        width: 100%;
                        height: 100px;
                    }

                    .info-card {
                        h6 {
                            font-size: 0.8em;
                            text-align: center;
                        }

                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

#dashboard {
    display: flex;
    flex-direction: column;
    padding: 1em;

    ._dashboard-wrapper {
        display: flex;
        gap: 1em;
        max-width: 1200px;
        margin: auto;

        ._main {
            width: calc(70% - 0.5em);
            padding: 0.5em;
            border-radius: 20px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-flow: column;
            justify-content: space-between;

            h2 {
                i {
                    margin-left: 0.5em;
                    font-size: 0.8em;
                    color: #ff5a5f;
                }
            }
        }

        ._user {
            width: calc(30% - 0.5em);
            padding: 0.5em;
            border-radius: 20px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.5em;

            i {
                color: #ff5a5f;
            }

            .img-wrapper {
                width: 100px;
                height: 100px;
                overflow: hidden;
                border-radius: 50%;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    ._apartments {
        margin: auto;
        max-width: 1200px;
        width: 100%;
        margin-top: 1em;
        padding: 1.4em;
        border-radius: 20px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

        h3 {
            i {
                color: #ff5a5f;
                font-size: 0.9em;
                margin-left: 0.5em;
            }
        }

        .card-wrapper {
            display: flex;
            gap: 1em;

            ._add-apartment-button {
                width: calc((100% / 4) - 1em);
                border-radius: 10px;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                position: relative;

                i {
                    font-size: 2.5em;
                }
            }

            .card {
                width: calc((100% / 4) - 1em);
                border-radius: 10px;
                text-decoration: none;
                transition: all 0.5s;

                &:hover {
                    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

                    .info-card {
                        h6 {
                            color: #4b1313;
                        }
                    }
                }

                .img-wrapper {
                    width: 100%;
                    height: 150px;
                    overflow: hidden;
                    border-radius: 10px 10px 0 0;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .info-card {
                    padding: 0.4em;

                    * {
                        transition: all 0.4s;
                    }
                }
            }
        }
    }

    @media (max-width: 780px) {
        ._dashboard-wrapper {
            flex-direction: column;

            ._main {
                width: 100%;
            }

            ._user {
                width: 100%;
            }
        }

        ._apartments {
            margin: auto;
            max-width: 1200px;
            width: 100%;
            margin-top: 2em;
            padding: 2em;
            border-radius: 20px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

            .card-wrapper {
                display: flex;
                gap: 1em;

                ._add-apartment-button {
                    width: calc((100% / 4) - 1em);
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .card {
                    .img-wrapper {
                        width: 100%;
                        height: 100px;
                    }

                    .info-card {
                        h6 {
                            font-size: 0.8em;
                            text-align: center;
                        }

                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 650px) {
        ._apartments {
            .card-wrapper {
                display: flex;
                flex-flow: row wrap;
                gap: 0.5em;

                ._add-apartment-button {
                    width: 100%;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .card {
                    width: calc((100% / 2) - 0.5em);

                    .img-wrapper {
                        width: 100%;
                        height: 120px;
                    }

                    .info-card {
                        h6 {
                            font-size: 0.8em;
                            text-align: center;
                        }

                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 400px) {
        ._apartments {
            .card-wrapper {
                display: flex;
                flex-flow: row wrap;
                gap: 0.5em;

                ._add-apartment-button {
                    width: 100%;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .card {
                    width: 100%;

                    .img-wrapper {
                        width: 100%;
                        height: 100px;
                    }

                    .info-card {
                        h6 {
                            font-size: 0.8em;
                            text-align: center;
                        }

                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

//Due dashboard?