@import "~bootstrap/scss/bootstrap";

//Assets

.btn-outline-primary {
    color: #ff5a5f;
    border-color: #ff5a5f;

    &:hover {
        background-color: #ff5a5f;
        border-color: #ff5a5f;
        color: white;
    }

    &:active {
        background-color: #ff5a5f !important;
        border-color: #ff5a5f !important;
    }

    &:focus-visible {
        background-color: #ff5a5f !important;
        border-color: #ff5a5f !important;
    }
}

.btn-primary {
    background-color: #ff5a5f;
    border-color: #ff5a5f;

    &:hover {
        background-color: #c34a4e;
        border-color: #c34a4e;
    }
}

//--------------------------------------------
//suggest in create and edit
._address-wrapper {
    position: relative;

    #edit-suggest,
    #create-suggest {
        position: absolute;
        top: 70px;
        left: 0px;
        width: 400px;
        background: rgb(255 255 255);
        //border: 1px solid lightgray;
        list-style: none;
        overflow: hidden;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.219);

        ._first-li {
            cursor: auto;

            &:hover {
                background: white;
                color: black;
            }
        }

        li {
            cursor: pointer;
            padding: 0.5em;

            ._location-icon {
                margin-right: 0.5em;
                font-size: 0.8em;
                color: rgb(180, 180, 180);
            }

            &:hover {
                background: rgb(255, 90, 95);
                color: white;

                ._location-icon {
                    color: rgb(255, 255, 255);
                }
            }
        }
    }
}

// fine suggest in create and edit
.btn-outline-primary:hover {
    color: white !important;
}

ul {
    padding: 0;
}

.check {
    width: 8px;
    height: 8px;
    border: 1px solid rgb(96, 96, 96);
    border-radius: 50%;
}

//Partials
//--------------------------------------------
#navbar {
    #logo {
        width: 150px;

        img {
            width: 100%;
        }
    }
}

// Admin
//--------------------------------------------

#apartment_show {
    display: flex;

    aside {
        display: flex;
        flex-flow: column;
        gap: 2em;

        height: 100%;
        min-width: 200px;
        padding: 16px;

        .card {
            border: 1px solid red;

            position: sticky;
            top: 30px;

            box-shadow: 0px 6px 20px rgba($color: #000000, $alpha: 0.2);
        }
    }

    main {
        flex-grow: 1;
    }

    .img_container {
        width: 500px;
        height: 300px;
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .listing {
        li {
            padding: 10px;
            list-style-type: none;
        }
    }
}


//Sponsorship
//-----------------------

.sponsor-apt-now {
    padding: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.sponsorship-package {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.sponsorship-package.package1 {
    border-color: #1523e7; // Red
}

.sponsorship-package.package2 {
    border-color: #1523e7; // Green
}

.sponsorship-package.package3 {
    border-color: #1523e7; // Blue
}

.sponsorship-package label {
    color: #333;
}


// .sponsorship-container {
//     background: #fc00ff;
//     /* fallback for old browsers */
//     background: -webkit-linear-gradient(to right, #00dade59, #fb00ff71);
//     /* Chrome 10-25, Safari 5.1-6 */
//     background: linear-gradient(to right, #00dade59, #fb00ff54);
//     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// }

.sponsorship-container #submit-button:hover {
    background-color: #077428;
}

.sponsorship-container {

    .card {
        width: 200px;
        /* Adjust the width as needed */
        height: 200px;
        /* Adjust the height as needed */
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        background: #fc00ff;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #00dade59, #fb00ff71);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #00dade59, #fb00ff54);
    }


    .card-basic {
        border: 2px solid cornflowerblue;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);


        background: #495c70;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #3498db9c, #557ea7);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2a658df5, #2c3e509f);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    .card-gold {
        // border: 3px solid #ffd000;

        border: 2px solid gold;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        background: #BA8B02;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #181818, #BA8B02);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #181818bb, #BA8B02);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    .card-platinum {

        border: 2px solid #E5E4E2;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        background: #8e9eab;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #7e8181, #8e9eab8e);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-title {
        font-size: 24px;
        /* Adjust the font size as needed */
        color: gold;
        margin-bottom: 10px;
        /* Adjust the margin as needed */
    }

    .card-text {
        font-size: 16px;
        /* Adjust the font size as needed */
        margin-bottom: 10px;
        /* Adjust the margin as needed */
    }

    .text-basic {
        font-weight: bold;
        color: cornflowerblue;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .text-gold {
        font-weight: bold;
        color: gold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .text-plat {
        font-weight: bold;
        // color: #E5E4E2;
        color: #e9e6e6;
        /* Platinum color */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

    }

}

// MESSAGGI

#messages_index {
    .card-header {
        background-color: #ff5a5f;
        color: white;
        font-weight: 500;
    }

    thead {
        th {
            background-color: #ff5a5f;
            color: white;
            font-weight: 500;

            &:first-of-type {
                border-top-left-radius: 10px;
            }

            &:last-of-type {
                border-top-right-radius: 10px;
            }
        }

        ._border-radius {
            @media (max-width: 575.98px) {
                border-top-right-radius: 10px;
            }
        }
    }

    tbody {
        cursor: pointer;
    }
}

// INDEX APPARTAMENTI

#apartment_index {

    .fa-solid,
    .fa-regular {
        color: #ff5a5f;
    }

    thead {
        th {
            background-color: #ff5a5f;
            color: white;

            &:first-of-type {
                border-top-left-radius: 10px;
            }

            &:last-of-type {
                border-top-right-radius: 10px;
            }
        }
    }
}

// CREATE APPARTAMENTI

#apartment_create {
    ._services {
        ._icon {
            height: 20px;
            width: 20px;
        }

        .form-check {
            padding-left: 0;
        }
    }
}